<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>547825940975-1gpjn7kjeivb9k4vnd8i2lb1i8gkovup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547825940975-1gpjn7kjeivb9k4vnd8i2lb1i8gkovup</string>
	<key>API_KEY</key>
	<string>AIzaSyB8IjRQpG7c4KvFf2COUtld2AdR-xd8PTc</string>
	<key>GCM_SENDER_ID</key>
	<string>547825940975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.limitlessapps.Milionerzy</string>
	<key>PROJECT_ID</key>
	<string>milionerzy-eccd9</string>
	<key>STORAGE_BUCKET</key>
	<string>milionerzy-eccd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547825940975:ios:e2d9fd24abf33327</string>
	<key>DATABASE_URL</key>
	<string>https://milionerzy-eccd9.firebaseio.com</string>
</dict>
</plist>